#moz_cn_apn {
  list-style-image: url("chrome://apn/skin/16x16.png") !important;
}

#moz-cn-apn-popup, #moz-cn-apn-login-popup {
  margin-left:-10px; text-align:center; -moz-appearance: none;
}

#moz-cn-apn-popup-main, #moz-cn-apn-login-popup-main {
  width:330px;
}

#moz-cn-apn-popup textbox.textarea {
  text-align:left; font-size:12px; height:75px;
}

#moz-cn-apn-popup hbox.group, #moz-cn-apn-popup vbox.group {
  margin:0 0 14px 0;
}

#moz-cn-apn-popup  textbox.apn_subject {
  text-align:left;
}

#moz-cn-apn-popup  textbox.apn_uri {
  text-align:left;
}

#moz-cn-apn-popup button {
  width:65px; text-align:center; cursor:pointer;
}

#moz-cn-apn-popup label {
  -moz-margin-start:0;
}

#moz-cn-apn-popup label.group_title {
  font-weight:bold;
  font-size:16px;
}

#moz-cn-apn-popup hbox.apn_close {
  cursor:pointer; width:13px; height:13px; background:url("chrome://apn/skin/close.gif") no-repeat scroll transparent;
}

#moz-cn-apn-messp, #moz-cn-apn-messf, #moz-cn-apn-messs{
  height:21px; margin:10px 0 0 5px;
}

#moz-cn-apn-messp vbox, #moz-cn-apn-messf vbox {
  text-align:center;
}

#moz-cn-apn-messf vbox.message {
  margin-left:5px; color:#07519A; cursor:pointer;
}

#moz-cn-apn-popup hbox.uri-style {
  margin:0 8px 0 4px;
}

#moz-cn-apn-message-require, #moz-cn-apn-user-require, #moz-cn-apn-password-require{
  color:red;
}



#moz-cn-apn-login-popup hbox.group, #moz-cn-apn-login-popup vbox.group {
  margin:0 0 14px 0;
}

#moz-cn-apn-login-popup  textbox.apn_user {
  text-align:left;
}

#moz-cn-apn-login-popup  textbox.apn_password {
  text-align:left;
}

#moz-cn-apn-login-popup button {
  width:65px; text-align:center; cursor:pointer;
}

#moz-cn-apn-login-popup label {
  -moz-margin-start:0;
}

#moz-cn-apn-login-popup label.group_title {
  font-weight:bold;
  font-size:16px;
}

#moz-cn-apn-login-popup hbox.apn_close {
  cursor:pointer; width:13px; height:13px; background:url("chrome://apn/skin/close.gif") no-repeat scroll transparent;
}

#moz-cn-apn-login-messp, #moz-cn-apn-login-messf{
  height:21px; margin:10px 0 0 5px;
}

#moz-cn-apn-login-messp vbox, #moz-cn-apn-login-messf vbox {
  text-align:center;
}

#moz-cn-apn-login-messf vbox.message {
  margin-left:5px; color:#07519A; cursor:pointer;
}